@media screen and (max-width: 768px) {
  .disclaimer {
    overflow: auto;
    max-height: 200px;
  }

  .disclaimerContainer {
    display: flex;
  }

  .recognizedBy p {
    text-align: center;
  }

  .recognizedBy a {
    text-decoration: none;
  }

  .recognizedBy img {
    width: 120px;
    height: 30px;
  }

  .followUs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .disclaimerContainer {
    display: flex;
    position: relative;
    bottom: 720px;
    width: 60%;
    margin: 0 auto;
  }

  .disclaimer {
    margin: 0 auto;
  }

  .recognizedBy img {
    width: 200px;
    height: auto;
  }

  .recognizedBy  {
      position: relative;
      left: 40px;
      text-align: center;
  }
}
