@media screen and (max-width: 768px) {
  .jobsIndiaTitle {
    text-align: center;
  }
  .jobsIndia {
    background: #b8f2f238 url("../../images/city-job-bg.jpg") no-repeat center /
      cover;
  }

  .jobsIndia ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
    border-radius: 10px;
    margin: 10px;
    gap: 12px;
  }

  .jobsIndia ul li {
    list-style: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font: 15px Roboto, sans-serif;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .jobsIndia {
    display: none;
  }
}
